@import "./variables";

body {
  background-color: $background-color;
  color: $text-color
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  padding: 10px 20px;
  margin: 0 5px 5px 0;
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $main-font-face, sans-serif;
  color: $link-color;
  text-align: center;
  transition: all 0.2s;
  background-color: $background-color;
  border: 1px solid $text-color;
}

.button:hover {
  color: $background-color;
  background-color: $text-color;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font-face, sans-serif;
  font-weight: 900;
  text-align: center;
}

.header {
    display: flex;
    padding-bottom: 10px;
    font-family: $heading-font-face, sans-serif;
    font-weight: 900;
    div {
        flex-grow: 1;
    }
    div:last-child {
        text-align: right;
    }
}

.box {
    float: left;
    width: 33%;
    height: 33%;
    border-width: 3px;
    border-color: $border-color;
    box-sizing: border-box;
    position: relative;
}

.box.top {
    border-bottom-style: solid;
}

.box.bottom {
    border-top-style: solid;
}

.box.right {
    border-left-style: solid;
}

.box.left {
    clear: both;
    border-right-style: solid;
}

.selected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected-image {
    width: 80px;
    height: 80px;
    transition: all 0.2s;
}

.game-over {
    position: absolute;
    background-color: $background-color-alpha;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-family: $main-font-face, sans-serif;
    }
}

@media (min-width: 1025px), (min-height: 1025px) {
    .game, .game-over {
        width: 600px;
        height: 600px;
    }
    .selected-image {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) , (min-height: 768px) and (max-height: 1024px) {
    .game, .game-over {
        width: 480px;
        height: 480px;
    }
    .selected-image {
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 767px), (max-height: 767px) {
    .game, .game-over {
        width: 360px;
        height: 360px;
    }
    .selected-image {
        width: 50px;
        height: 50px;
    }
}