// application-wide variables
$background-color: #009ed8;
$text-color: #ffffff;
$link-color: #ffffff;
$border-color: #ffffff;
$main-font-face: "Roboto";
$heading-font-face: "Raleway";
$selected-tile-font: "Syncopate";