// application-wide variables
$background-color: #009ed8;
$background-color-alpha: #009ed8c7;
$text-color: #ffffff;
$link-color: #ffffff;
$border-color: #ffffff;
$main-font-face: "Roboto";
$heading-font-face: "Raleway";